.p-button-2xl {
	font-size: clamp(3rem, -0.875rem + 8.333vw, 5rem);
	padding: clamp(1rem, calc(0.625vw * 4), 2.5rem) clamp(1rem, calc(0.9375vw * 4), 2.5rem);
	border-radius: 15px;
}
.p-button-xl {
	font-size: calc(1.25rem * 1.5);
	padding: calc(0.625rem * 1.5) calc(0.9375rem * 1.5);

	border-radius: 10px;
}
.p-button-md {
	font-size: calc(1.25rem * 1.25);
	padding: calc(0.625rem * 1.25) calc(0.9375rem * 1.25);

	border-radius: 10px;
}
